body {
  background-color: #eee;
  padding: 10px;
}

.counter {
  display: flex;
  justify-content: center;
}

.counter > .number {
  color: #fb6145;
  font-weight: bold;
  font-size: 2rem;
  margin: 0.3rem;
  padding: 0.1rem 0.6rem;
  background-color: white;
  border-radius: 0.4rem;
  box-shadow: -2px 7px 15px rgba(0, 0, 0, 0.2);
}
